.App {
  text-align: center;
}

.users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: 100px auto;
  gap: 5px;
  background: whitesmoke;
}
.user {
  background-color: #ccc;
}
